@charset "utf-8";()

* {
    margin: 0;
    padding: 0;
}

div#svg-wrapper {
    text-align: center;
    margin: auto;
    position: relative;
    cursor: pointer;
    display: block;
}

div {
    display: inline-block;
}

svg {
    margin: 5px;
    margin-top: 0px;
    /*float: left;*/
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

input {
    position: relative;
}
