@charset "utf-8";()

* {
	margin: 0;
	padding: 0;
}

div {
  text-align: center;
	margin: auto;
	float: left;
  position: relative;
  cursor: pointer;
  /*margin-left: 80px;*/
}

svg {
	margin: 5px;
	margin-top: 0px;
	float: left;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

input {
  position: relative;
}
